@import './styles/variables.css';

.App {
  min-height: 100vh;
}

/* Reset default margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}
